@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
/*
pallet: 00FDDC  C5FFFD  C2AFF0  24252A  0088A9
*/

*{
    margin: 0;
    padding: 0;
    color: #edf0f1;
    font-family: "Montserrat", sans-serif;
}

body{
    margin: 0% 10%;
    background-image: url("imagens/background1.jpg");
    padding: 0% 7%;
    background-size: initial;
    overflow: auto;
}

footer{
    text-align: center;
    width: 100%;
    border: #edf0f1af;
    border-width: 1px;
    border-top-style:solid;
}
footer, header{
    background-color: #313E50;
}
.tudao{
    background-color: rgba(58, 67, 95, 0.96);
}
/*
Cabeçalho
*/
li, a{
    font-weight: 500;
    font-size: 20px;
    text-decoration: none;
}

header {
    z-index: +1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 30px 10%;
    position: sticky;
    top: 0%;
    border-style: solid;
    border-width: 1px;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: solid;
    border-color: #edf0f1;
}

header img {
    height: 50px;
    width: auto;
    filter: drop-shadow(0px 5px 3px #0e0f10cc);
}

.logo{
    cursor: pointer;
    margin-right: auto;
}

.logo :hover{
    filter: drop-shadow(0px 1px 1px #b5647031);
}
.nav-links{
    list-style: none;
}

.nav-links li{
    display:inline-block;
    padding: 0px 20px;
    transition: all 0.3s ease 0s;
}

.nav-links li a:hover {
    transition: all 0.3s ease 0s;
    color: #E6DDBC;
    filter: drop-shadow(1px 1px 1px #b564705d);  
}

/*
conteúdo
*/

.tudao{  
    padding: 10px 8%;    
}

/*PESSOAL*/

#eu{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.eu-nome h2{
    text-align: left;

}

.eu{
    max-width: 60%;
    text-align: justify;
}
.eu-img{
    padding-right: 5%;
}
.eu-img img{   
    width: 300px;
    border-radius: 100px;
    border-style:hidden;
    max-width: 60%;
    height: auto;
    position: relative;
    float: right;
}

/*INFO*/

#info{
    justify-content: center;
    height: auto;
    margin-top: 8%;
}
.info-text{
    max-width: 60%;
    position: relative;
    float: left;
}
.info-descri{
    text-align: justify;
}

.info-titu{
    text-align: right;
}
.info-img{
    max-width: 40%;
    height: auto;
    position: relative;
    float: right;
}

.info-img img{
    position: relative;
    float: right;
    max-width: 50%;
    height: auto;
}

.info-img img:hover{
    border-radius: 80px;
    opacity: .5;
    transition: 1s;
}
/*
curi    
*/
#curi{
    height: 200px;
    margin-top: 500px;
}
.curi-imgs{
    width: 35%;
}

.curi-imgs img{
    width:50px;
}

.curi-text{
    width: 60%;
    position: relative;
    bottom: 115px;
    float: right;
}

#curi img:hover{
    filter: drop-shadow(0px 1px 1px #edf0f1);
}

/*
contatos
*/

#contatos{
    display: flex;
    width: 70%;
    justify-content:space-between;
    margin: 0%;
    padding-left: 15%;
    padding-right: 15%;
}

#contatos img{
    height: 20px;
}

#contatos img:hover{
    filter: drop-shadow(0px 1px 1px #edf0f1);
}

@media screen and (max-width: 960px){
    body{
        margin: 0%;
        background: none;
        padding: 0%;
        overflow: auto;
    }
    /**/
    
    header{
        justify-content: center;
        padding: 0% 6%;
        height: 100px;
    }
    
    .tudao{
        overflow: hidden;
        display: grid;
        columns: 1;
        column-gap: 3%;
    }
    #eu{
        display: grid;
        justify-content: center;
        columns: 1;
        column-gap: 3%;
    }
    
    .eu-nome h2{
        text-align: center;
    }
    
    .eu{
        display: grid;
        justify-content: center;
        columns: 1;
        column-gap: 6%;
        max-width: 100%;
        text-align: justify;
    }
    .eu-img{
        display: grid;
        justify-content: center;
        position: relative;
        left: 0%;
        margin-top: 0%;
    }
    .eu-img img{   
        max-width: 30%;
        height: auto;
        margin-left: 35%;
    }

    #info{
        display: grid;
        position: static;
        columns: 1;
        margin-top: 6%;
    }
    
    .info-text{
        position: static;
        max-width: 100%;
        text-align: justify;
    }
    
    .info-title h4{
        text-align: center;
        margin-bottom: 5%;
    }
    
    .info-img{
        position: static;
        padding-right: 0%;
        margin-left: 0%;
        margin-top: 8%;
        position: relative;
        left: 20%;
    }

    #curi{
        display: grid;
        columns: 1;
        align-items: center;
        justify-content: center;
        margin-top: 15%;
        height:auto;
    }

    .curi-text{
        margin-top: 0%;
        width: 100%;    
    }

    .curi-descri{
        width: 100%;
        position: relative;
        bottom: 60%;
        text-align: justify;
    }

    .curi-imgs{
        align-items: center;
        width: auto;
        padding-left: 30%;
        position: relative;
        margin-top: 10%;
        top: 180%;
    }

    .curi-titu h4{
        text-align: center;
    }
    
    #contatos{
        margin-top: 10%;
    }
    
}
