#curioso{
    background-color: darkorchid;
    max-height: 100%;
}
.curi-corpo{
    max-width: 60%;
}

.curi-text{
    text-align: justify;
}

.curi-title h4{
    background-color: dimgray;
    text-align: right;
}

.curio-img{
    background-color: darkred;
    position: relative;
    left: 80em;
    bottom: 5em;
    width: 100px;
}

